.venv
.trash/*
.trae/
.shared/*
.DS_Store
*.pyc
*.log
*.so
**/.DS_Store
**/__pycache__/
frontend/src-tauri/binaries/*
frontend/scripts/binaries
frontend/node_modules/*
frontend/dist/*
frontend/dist/
frontend/design-proposal.md
frontend/test_data/*
frontend/src/plugins/*


crypto_data/
backend/data/
backend/test_data/
backend/collector/README.md
backend/data/system.db
backend/backtest/results/*.json
backend/strategies/*
backend/.trash/
backend/.DS_Store
backend/.DS_Stores
backend/backtest/results/*
backend/plugins/*
backend/performance_reports/*.json
backend/performance_reports/*.md
backend/performance_reports/*.csv
backend/quantcell/backtest/results/*.json
backend/temp
backend/config.toml
backend/ai_model/docs/*


data/source/*
results/*
SmaCross.html
frontend2/
frontend_old/
test_*.csv
test_qlib_data/
qlib/
quantcell.egg-info/*
ui/node_modules/
temp/.*
QuantCell.code-workspace

.agents/*


backend/config.toml
backend/tmp/*

