.venv
frontend/src-tauri/binaries/*

frontend/scripts/binaries
*.pyc
.trae/
test_*.csv
test_qlib_data/
qlib/
*.log
frontend/design-proposal.md
backend/collector/README.md
backend/data/system.db
crypto_data/
backend/data/
backend/test_data/

frontend/test_data/*
data/source/*
backend/.DS_Store
*/.DS_Store
.DS_Store
results/*
SmaCross.html
backend/strategies/*
.shared/ui-ux-pro-max/*
backend/backtest/results/*.json
frontend2/
