.venv
frontend/src-tauri/binaries/*

frontend/scripts/binaries
*.pyc
.trae/
test_*.csv
test_qlib_data/
qlib/
*.log
frontend/design-proposal.md
backend/collector/README.md
backend/data/system.db
crypto_data/
backend/data/
backend/test_data/

frontend/test_data/*
data/source/*
backend/.DS_Store
*/.DS_Store
.DS_Store
results/*
SmaCross.html
backend/strategies/*
.shared/ui-ux-pro-max/*
backend/backtest/results/*.json
frontend2/
**/.DS_Store
*.so
**/__pycache__/
backend/quantcell/backtest/results/*.json
quantcell.egg-info/*
backend/.trash/
.trash/*
.DS_Store
backend/.DS_Stores
backend/backtest/results/*
.DS_Store
backend/plugins/*
frontend/src/plugins/*
temp/.*
backend/performance_reports/*.json
backend/performance_reports/*.md
backend/performance_reports/*.csv
QuantCell.code-workspace
