:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: var(--tw-color-foreground);
  background: var(--tw-color-background);
  min-width: 360px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

/* 全局过渡动画 */
* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

/* 禁用某些元素的过渡 */
.ant-drawer,
.ant-modal,
.ant-dropdown {
  transition: none;
}
